{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}


{% block content %}
{% set month_names = ["", "Januar", "Febuar", "März", "April", "Mai", "Juni", "Juli", "August", "Septemper", "October", "November", "December"] %}
<div class="container">
    <header>
        {% include "nav.html" %}
        {% include "logo.html" %}
    </header>
    <main>
        <h1>{{ section.title }}</h1> 
        {{ section.content | safe }} 

        {% for year, projects in section.pages | group_by(attribute="year") %}
        {% for month, projects in projects | group_by(attribute="month") %}
        <h2>{{ month_names[month] }} {{year}}</h2> 
        <ul class="list">
            {% for project in projects | sort(attribute="date") | reverse %}
            <li>
                <a href="{{ project.permalink }}"><h2>{{ project.title }}</h2></a>
                Datum: {{ project.date | date(format="%d-%m-%Y %H:%M") }}

                {% if project.summary %}
                <p>{{ project.summary | safe }}</p> 
                <a href="{{ project.permalink }}">Weiter lesen</a>
                {% else %}
                <p>{{ project.content | safe }}</p> 
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% endfor %}
    </main>
</div>
{% endblock content %}
