<svg width="164.49mm" height="57.473mm" version="1.1" viewBox="0 0 164.49133 57.473469" role="img" class="logo">
<title>ACME Labs</title>
<g transform="translate(-21.32 -15.019)">
<path d="m76.065 52.03a27.368 27.368 0 0 1 -24.582 19.164 27.368 27.368 0 0 1 -26.581 -16.278 27.368 27.368 0 0 1 5.8979 -30.606 27.368 27.368 0 0 1 30.727 -5.2352" fill="none" stroke="#f00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.51"/>
<path d="m69.614 46.899a19.904 19.904 0 0 1 -16.101 16.551 19.904 19.904 0 0 1 -20.907 -9.8013 19.904 19.904 0 0 1 2.4236 -22.963 19.904 19.904 0 0 1 22.493 -5.2207" fill="none" stroke="#00d619" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.51"/>
<path d="m71.813 48.674a22.392 22.392 0 0 1 -19.012 17.405 22.392 22.392 0 0 1 -22.8 -12.023 22.392 22.392 0 0 1 3.6236 -25.52 22.392 22.392 0 0 1 25.246 -5.2012" fill="none" stroke="#ffdb00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.51"/>
<path d="m73.945 50.419a24.88 24.88 0 0 1 -21.802 18.233 24.88 24.88 0 0 1 -24.674 -14.106 24.88 24.88 0 0 1 4.652 -28.038 24.88 24.88 0 0 1 27.907 -5.3822" fill="none" stroke="#ff8d00" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.51"/>
<path d="m67.318 45.053a17.416 17.416 0 0 1 -13.172 15.718 17.416 17.416 0 0 1 -19 -7.7161 17.416 17.416 0 0 1 1.5159 -20.451 17.416 17.416 0 0 1 19.93 -4.8305" fill="none" stroke="#009fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.51"/>
<path class="letter" d="m73.57 40.816h-12.32l-3.0592 5.6224h-8.1649l17.446-30.861h9.0951l5.457 30.861h-7.5654zm-9.3224-5.6017h8.2889l-1.8604-11.886z"/>
<path class="letter" d="m109.85 44.992q-2.8525 1.0129-5.4777 1.5296-2.6252 0.51676-4.9816 0.51676-6.2218 0-9.9425-3.4106-3.7207-3.4106-3.7207-9.033 0-3.7 1.1782-6.966 1.1782-3.2866 3.4727-5.9945 2.7078-3.1833 6.5112-4.8989 3.8241-1.7157 8.2269-1.7157 2.3978 0 4.8162 0.57878 2.4184 0.55811 4.9196 1.7157l-1.2816 6.3872q-1.9844-1.509-3.9894-2.2118-2.005-0.7028-4.2995-0.7028-4.7749 0-7.9995 3.6794-3.2246 3.6794-3.2246 9.1984 0 3.5553 1.9844 5.5811t5.4777 2.0257q2.0877 0 4.4235-0.74414 2.3564-0.76481 5.271-2.3771z"/>
<path class="letter" d="m122.19 15.577h9.7772l3.9688 16.392 10.418-16.392h10.17l-6.0151 30.861h-7.5448l4.4028-22.779-10.707 16.847h-4.2788l-4.2581-16.847-4.4028 22.779h-7.5448z"/>
<path class="letter" d="m164.36 15.577h21.456l-1.1782 6.0151h-13.498l-1.1162 5.7464h12.712l-1.1989 6.0151h-12.692l-1.3643 7.0693h13.932l-1.1369 6.0151h-21.931z"/>
<g transform="scale(1.0256 .97502)" stroke-width=".75704" aria-label="Labs">
<path class="letter" class="letter" d="m87.644 51.758h3.0015l-3.7852 19.591h10.749l-0.48794 2.484h-13.751z"/>
<path class="letter" d="m122.67 64.385-1.8482 9.4482h-2.7206l0.50272-2.5136q-1.1977 1.4786-2.7354 2.2179-1.523 0.72451-3.4008 0.72451-2.1144 0-3.4747-1.2864-1.3455-1.3012-1.3455-3.3268 0-2.898 2.3066-4.5836 2.3214-1.6856 6.3875-1.6856h3.7852l0.14786-0.72451q0.0296-0.11829 0.0444-0.25136 0.0148-0.14786 0.0148-0.44358 0-1.316-1.0794-2.0405-1.0646-0.7393-3.0016-0.7393-1.3307 0-2.7354 0.34008-1.3899 0.34008-2.8685 1.0202l0.47315-2.5136q1.5377-0.57665 3.0016-0.85759 1.4786-0.29572 2.8537-0.29572 2.9276 0 4.4506 1.2716 1.5377 1.2716 1.5377 3.6965 0 0.48794-0.0739 1.1533-0.0739 0.65058-0.22179 1.3899zm-2.9424 1.1237h-2.7206q-3.3416 0-4.9533 0.90194-1.5969 0.88716-1.5969 2.765 0 1.3012 0.81323 2.0405 0.82801 0.7393 2.277 0.7393 2.2179 0 3.8739-1.5821 1.656-1.5969 2.1883-4.2584z"/>
<path class="letter" d="m146.97 63.72q0-2.144-0.99065-3.3564-0.97588-1.2124-2.7058-1.2124-1.2568 0-2.3658 0.62101-1.0942 0.60622-1.9074 1.7743-0.85759 1.2272-1.3603 2.8537-0.48794 1.6117-0.48794 3.2233 0 2.0405 0.96109 3.2086 0.97587 1.1533 2.6763 1.1533 1.2864 0 2.3805-0.59144 1.0942-0.60622 1.9222-1.7743 0.8428-1.2124 1.3603-2.8241 0.5175-1.6117 0.5175-3.0755zm-8.4576-3.9331q1.0054-1.3603 2.5136-2.1292 1.523-0.78366 3.179-0.78366 2.5432 0 4.0366 1.7152 1.5082 1.7152 1.5082 4.6428 0 2.3953-0.88715 4.6428-0.87237 2.2475-2.4988 3.9922-1.0646 1.1533-2.4545 1.7743t-2.9128 0.62101q-1.6117 0-2.7946-0.7393-1.1829-0.7393-1.9222-2.2031l-0.48794 2.5136h-2.7206l4.4801-23.007h2.7206z"/>
<path class="letter" d="m173.33 57.761-0.51751 2.5728q-1.0794-0.59144-2.277-0.88716-1.1977-0.29572-2.4693-0.29572-2.144 0-3.386 0.7393-1.2272 0.72451-1.2272 1.9813 0 1.4638 2.8685 2.2475 0.22179 0.05914 0.32529 0.08872l0.87237 0.26615q2.7206 0.75408 3.6226 1.5821 0.91673 0.82801 0.91673 2.2623 0 2.6319-2.0996 4.2879-2.0848 1.656-5.4708 1.656-1.316 0-2.765-0.25136-1.449-0.25136-3.1938-0.78366l0.53229-2.8093q1.4934 0.76887 2.9424 1.1681t2.7798 0.39922q1.9961 0 3.2381-0.85759 1.2568-0.85758 1.2568-2.1735 0-1.4195-3.2825-2.2918l-0.28094-0.07393-0.93151-0.23658q-2.07-0.54708-3.0311-1.4342-0.96109-0.90194-0.96109-2.2918 0-2.6467 1.9813-4.1992 1.9961-1.5525 5.4117-1.5525 1.3455 0 2.6171 0.22179 1.2864 0.22179 2.5284 0.66537z"/>
</g>
</g>
</svg>
