{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}

{% block content %}
<div class="container">
    <header>
        {% include "nav.html" %}
        {% include "logo.html" %}
    </header>
    <main>
        <h1>{{ section.title }}</h1> 
        {{ section.content | safe }} 

        <ul class="list">
            {% for page in section.pages %}
            <li>
                <img src="{{ page.extra.image }}" />
                <a href="{% if page.extra.url %}{{ page.extra.url }}{% else %}{{ page.permalink }}{% endif %}">
                    <h2>{{ page.title }}</h2>
                </a>
                <p>{{ page.description }}</p> 
            </li>
            {% endfor %}
        </ul>
    </main>
</div>
{% endblock content %}
